// Layout
$S: 320px;
$M: 760px;
$MP: 820px;
$L: 1000px;

@mixin MQR($canvas) {
  @if $canvas == S {
   @media only screen and (max-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (max-width: $M) { @content; }
  }
  @else if $canvas == MP {
   @media only screen and (max-width: $MP) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (max-width: $L) { @content; }
  }
}
