

$gold     :  #d1ad33;
$gold1    :  #C5B358;
$mainBg		:  #FDF5E3;





// greyscale
$white    :  #fafafa;
$white1   :  #f5f5f5;
$white2  	:  #eeeeee;
$white3   :  #e0e0e0;

$grey     :  #bdbdbd;
$grey1  	:  #9e9e9e;
$grey2  	:  #757575;
$grey3  	:  #616161;

$black1   :  #424242;
$black    :  #212121;
