.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 666;
  border-bottom: 1px solid $black1;
  transform: translateZ(0);
	will-change: transform;
	transition: transform 333ms;
  &.slide-up { transform: translateY(-100%); transition: transform 666ms;}

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 30px;
    width: 323px;
    background-color: $grey;

  }
}
